@use "sass:map";

$breakpoints: (
    xs: 320px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

$breakpoints-only: (
    xs: (min:320px, max:575px),
    sm: (min:576px, max:767px),
    md: (min:768px, max:991px),
    lg: (min:992px, max:1199px),
    xl: (min:1200px, max:2400px)
);


.hiden {
    display: none;

    @each $label, $value in $breakpoints {
        @media screen and (min-width: $value) {
            &-#{$label} {
                display: none;
            }
        }
    }

    @each $label, $value in $breakpoints-only {
        @media screen and (min-width: map-get($value, "min")) and (max-width: map-get($value, "max")) {
            &-#{$label}-only {
                display: none;
            }
        }
    }
}

.show {
    display: unset;

    @each $label, $value in $breakpoints {
        @media screen and (min-width: $value) {
            &-#{$label} {
                display: unset;
            }
        }
    }

    @each $label, $value in $breakpoints-only {
        @media screen and (min-width: map-get($value, "min")) and (max-width: map-get($value, "max")) {
            &-#{$label}-only {
                display: none;
            }
        }
    }
}

.radius {
    &-full {
        border-radius: 100%;
    }

    &-1 {
        border-radius: 4px;
    }

    &-2 {
        border-radius: 8px;
    }
}